@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Asterisk wildcard selector to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

html, body {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Background colour for homepage */
#body {
    background-color: #5d6169;
    /*#aeaeaf;*/
}

header {
    margin: 0;
    padding: 10px;
    color: white;
    text-align: center;
    background: url("../images/header-sky.webp");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 120px;
}

main {
    flex: 1 0 auto;
}

/* About Us Page */

#about-us-intro {
    margin-top: 10px;
}

/* The Footer Element */

footer {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

#social-networks {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

#social-networks li {
    margin-right: 20px; /* Adjust spacing between icons as needed */
}

#social-networks li:last-child {
    margin-right: 0; /* Remove margin from the last item */
}