{% extends "base.html" %}
{% block content %}
<main>
    <div class="container text-bg-light p-3" id="about-us-intro">
        <h1>Learning Philosophy and Team</h1>

        <p>At Learn English Online, we teach International English rather than British, American, Indian or any other
            type of English. Why?
            <br>
        <ul>
            <li>You will often be in a situation where none or only some of a study group or group of colleagues are
                native English speakers.</li>
            <li>We believe that focusing on clear, accurate and transparent English is the best route to fluency and
                making yourself understood.</li>
            <li>Native English speakers might share the same language, but there is an enormous range of accents around
                the globe: there is no 'one' right way to speak English.</li>
            <li>So worrying about what 'type' of English you should study is purely a distraction.</li>
        </ul>
        </p>
    </div>
    <div class="container">
        
    </div>


</main>
{% endblock %}